<!DOCTYPE html>
<html>
  
  <body>
    <div class="admission-step">
      <div class="frame">
        <div class="rs-module-wrap">
          <div class="div-breadcrumbs">
            <div class="div-container">
              <div class="div-row"><div class="div-col-md"></div></div>
            </div>
            <div class="log-in">
              <div class="div">
                <img class="img" src="img/user-interface-user-3.png" />
                <div class="text-wrapper">Log in</div>
              </div>
            </div>
            <div class="frame-2">
              <!-- <p class="THE-BIST-WAY-WORK">THE BIST WAY<br />WORK HARD, DREAM BIG.</p> -->
              <!-- <div class="admissions">ADMISSIONS</div> -->
            </div>
            <div class="pseudo"></div>
          </div>
        </div>
        <div class="navigation-bar">
          <div class="BIST-logo-white"></div>
          <div class="list">
            <div class="item-link"><div class="text-wrapper-2">Admissions</div></div>
            <div class="item-link-2">
              <div class="text-wrapper-3">Primary</div>
              <img class="img2" src="svg.png" />
            </div>
            <div class="item-link-2">
              <div class="text-wrapper-3">Secondary</div>
              <img class="img2" src="svg.png" />
            </div>
            <div class="item-link-2">
              <div class="text-wrapper-3">About us</div>
              <img class="img2" src="svg.png" />
            </div>
            <div class="item-link-2">
              <div class="text-wrapper-3">Education</div>
              <img class="img2" src="svg.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <p class="heading-the-only">Who can join the British school?</p>
        <div class="frame-3">
          <div class="blockquote">
            <p class="p">
              Offering a personalized education to students from ages 3-18, our COBIS-accredited school is at the heart
              of the international community in Tunis and prides itself on being a friendly, vibrant, and creative
              community where every child can feel they belong.
            </p>
            <div class="pseudo-2"></div>
          </div>
          <div class="div-elementor">
            <div class="div-description">
              <div class="frame-4">
                <p class="text-wrapper-4">
                  On behalf of the entire community, we would like to thank you for your interest in applying to our
                  school. Whether you live in Tunis or will be relocating here from another country, we recognise the
                  importance of finding the right international school in Tunis for your family.
                </p>
                <p class="text-wrapper-5">
                  We aim to do two things: to help guide you as you discover BIST and learn what’s most important and
                  enduring about our beloved school, and to get to know you.
                </p>
                <p class="text-wrapper-5">
                  The British International School of Tunis is open to families coming from all over the world and
                  children from all academic backgrounds. Our admissions procedure is designed to be open, transparent
                  and responsive to the needs of every single child.
                </p>
                <p class="text-wrapper-5">
                  Children with special needs and learning difficulties will be assessed carefully to determine whether
                  the school is able to effectively address their individual needs.
                </p>
                <p class="text-wrapper-5">
                  From the first point of contact up until your child’s first day of school, our friendly admissions
                  team is ready to answer all your questions and accompany you throughout the enrollment and transition
                  process.
                </p>
              </div>
            </div>
            <div class="div-elementor-widget">
              <div class="group">
                <div class="overlap-group">
                  <img class="rectangle" src="img/rectangle-703.png" />
                  <img class="rectangle-2" src="img/rectangle-704.png" />
                  <img class="rectangle-3" src="img/rectangle-705.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-wrapper">
        <div class="frame-5">
          <div class="heading-who-can">BIST Entry Assessments</div>
          <div class="admissions-drop">
            <div class="div-faq-question-bar">
              <p class="text-wrapper-6">ADMISSIONS FOR CHILDREN AGES 3 TO 7</p>
              <img class="link" src="img/link-variant3.png" />
            </div>
          </div>
          <div class="admissions-drop">
            <div class="div-faq-question-bar">
              <p class="text-wrapper-6">ADMISSIONS FOR CHILDREN AGES 7+</p>
              <img class="link" src="img/link-variant3.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="div-gb-inside">
        <p class="heading-who-can-2">A step by step process</p>
        <div class="frame-3">
          <div class="frame-6">
            <div class="text-wrapper-7">STEP 1</div>
            <div class="text-wrapper-7">STEP 2</div>
            <div class="text-wrapper-7">STEP 3</div>
            <div class="text-wrapper-7">STEP 4</div>
          </div>
          <div class="section-2">
            <div class="div-gb-grid-column">
              <div class="frame-7">
                <img class="vector" src="img/vector-8.png" />
                <div class="ellipse"></div>
              </div>
              <div class="text-wrapper-8">Create an online Application</div>
            </div>
            <div class="div-gb-grid-column">
              <div class="frame-7">
                <img class="vector-2" src="img/vector-7.png" />
                <div class="ellipse"></div>
              </div>
              <div class="text-wrapper-8">Visit us</div>
            </div>
            <div class="div-gb-grid-column">
              <div class="frame-7">
                <img class="vector-3" src="img/vector-6.png" />
                <div class="ellipse"></div>
              </div>
              <div class="text-wrapper-8">Schedule an assessment</div>
            </div>
            <div class="div-gb-grid-column">
              <div class="frame-7">
                <img class="vector-4" src="img/vector-5.png" />
                <div class="ellipse"></div>
              </div>
              <p class="text-wrapper-9">Secure enrollment and provide all required documents</p>
            </div>
          </div>
        </div>
        <div class="div-wrapper"><p class="text-wrapper-10">Download the list of required documents</p></div>
      </div>
      <div class="div-gb-inside-2">
        <div class="heading-who-can-3">THE BRITISH CURRICULUM</div>
        <div class="frame-8">
          <p class="text-wrapper-11">
            The education system in the UK is also split into “Key Stages” which breaks down as follows:
          </p>
          <p class="text-wrapper-12">
            Generally Key Stages 1 and 2 will be undertaken at primary school and by the time pupil would reach 11 years
            old, they will move into secondary school and finish Key Stages 3, 4 and 5. Pupils are assessed at the end
            of each stage.
          </p>
        </div>
        <div class="frame-9">
          <div class="div-gb-container">
            <img class="element" src="img/375212223-956434852087277-5794425598905003511-n-1-3.png" />
            <div class="frame-10">
              <div class="heading-early">Early Years</div>
              <p class="text-wrapper-13">Children ages 3 to 5</p>
            </div>
          </div>
          <div class="div-gb-container">
            <img class="element" src="img/375212223-956434852087277-5794425598905003511-n-1-2.png" />
            <div class="frame-11">
              <p class="heading-early">Key Stages 1 &amp; 2</p>
              <p class="text-wrapper-13">Children ages 5 to 11</p>
            </div>
          </div>
          <div class="div-gb-container">
            <img class="element" src="img/375212223-956434852087277-5794425598905003511-n-1-1.png" />
            <div class="frame-10">
              <p class="heading-early">Key Stages 3 &amp; 4</p>
              <p class="text-wrapper-13">Children ages 11 to 16</p>
            </div>
          </div>
          <div class="div-gb-container">
            <img class="element" src="img/375212223-956434852087277-5794425598905003511-n-1.png" />
            <div class="frame-11">
              <div class="heading-early">Sixth form</div>
              <p class="text-wrapper-13">Children ages 16 to 18</p>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-12">
        <div class="parent">
          <div class="heading-who-can-wrapper"><div class="heading-who-can-4">ADMISSION FORM</div></div>
          <div class="frame-13">
            <div class="frame-14">
              <div class="frame-15">
                <img class="line" src="img/line-1.png" />
                <img class="line-2" src="img/line-2.png" />
                <div class="frame-16">
                  <img class="frame-17" src="img/frame-2183.png" />
                  <div class="text-wrapper-14">Parent 1 information</div>
                </div>
                <div class="frame-16">
                  <div class="frame-18"><div class="text-wrapper-15">2</div></div>
                  <div class="text-wrapper-14">Parent 2 information</div>
                </div>
                <div class="frame-16">
                  <div class="frame-19"><div class="text-wrapper-16">3</div></div>
                  <div class="text-wrapper-17">Children information</div>
                </div>
                <div class="frame-16">
                  <div class="frame-19"><div class="text-wrapper-16">4</div></div>
                  <div class="text-wrapper-17">Scheduling a visit</div>
                </div>
              </div>
            </div>
            <div class="frame-20">
              <div class="frame-21">
                <div class="frame-22">
                  <div class="frame-23">
                    <div class="frame-20">
                      <div class="frame-24">
                        <div class="text-wrapper-18">Father’s full Name</div>
                        <div class="text-wrapper-19">*</div>
                      </div>
                      <input class="input" id="FatherFullName" formControlName="fatherFullName" placeholder="Enter father full name">
                      <div *ngIf="admissionForm.controls.fatherFullName.invalid && admissionForm.controls.fatherFullName.touched">
                        <div *ngIf="admissionForm.controls.fatherFullName.errors?.required">
                          Father Full Name is required.
                        </div>
                      </div>                    </div>
                    <!-- <div class="frame-20">
                      <div class="frame-24">
                        <div class="text-wrapper-18">Father’s last name</div>
                        <div class="text-wrapper-20">*</div>
                      </div>
                      <input class="input" id="FatherFullName" formControlName="fatherFullName" placeholder="Enter father full name">
                      <div *ngIf="admissionForm.controls.fatherFullName.invalid && admissionForm.controls.fatherFullName.touched">
                        <div *ngIf="admissionForm.controls.fatherFullName.errors?.required">
                          Father Full Name is required.
                        </div>
                      </div>                    </div>-->
                  </div> 
                  <div class="frame-23">
                    <div class="frame-20">
                      <div class="frame-24">
                        <div class="text-wrapper-18">Father’s Occupation</div>
                        <div class="text-wrapper-19">*</div>
                      </div>
                      <input class="input" id="fatherOccupation" formControlName="fatherOccupation" placeholder="Enter father occupation">
                      <div *ngIf="admissionForm.controls.fatherOccupation.invalid && admissionForm.controls.fatherOccupation.touched">
                        <div *ngIf="admissionForm.controls.fatherOccupation.errors?.required">
                          Father Occupation is required.
                        </div>
                      </div>                    </div>
                    <div class="frame-20">
                      <div class="frame-24">
                        <div class="text-wrapper-18">Father’s nationality</div>
                        <div class="text-wrapper-19">*</div>
                      </div>
                      <input class="input" id="fatherNationality" formControlName="fatherNationality" placeholder="Enter father natinality">
                      <div *ngIf="admissionForm.controls.fatherNationality.invalid && admissionForm.controls.fatherNationality.touched">
                        <div *ngIf="admissionForm.controls.fatherNationality.errors?.required">
                       Father Nationality is required.
                        </div>
                      </div>                    </div>
                  </div>
                  <div class="frame-23">
                    <div class="frame-20">
                      <div class="frame-24">
                        <div class="text-wrapper-18">Father’s email</div>
                        <div class="text-wrapper-19">*</div>
                      </div>
                      <input class="input" id="fatherEmail" formControlName="fatherEmail" placeholder="Enter father email">
                      <div *ngIf="admissionForm.controls.fatherEmail.invalid && admissionForm.controls.fatherEmail.touched">
                        <div *ngIf="admissionForm.controls.fatherEmail.errors?.required">
                          Father Email is required.
                        </div>
                        <div *ngIf="admissionForm.controls.fatherEmail.errors?.emailTaken && admissionForm.controls.fatherEmail.touched">
                          Father email is already exist.
                        </div>
                        </div>                    </div>
                    <div class="frame-20">
                      <div class="frame-24">
                        <div class="text-wrapper-18">Father’s Phone number</div>
                        <div class="text-wrapper-19">*</div>
                      </div>
                      <input class="input" id="fatherPhone" formControlName="fatherPhone" placeholder="Enter father phone">
                      <div *ngIf="admissionForm.controls.fatherPhone.invalid && admissionForm.controls.fatherPhone.touched">
                        <div *ngIf="admissionForm.controls.fatherPhone.errors?.required">
                         Father Phone is required.
                        </div>
                      </div>                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-25">
                <img class="user-interface-left" src="img/user-interface-left-arrow-1.png" (click)="navigateToPriviousStep()"/>
               <div class="text-wrapper-10" >Previous step</div>
              </div>
            </div>
          </div>
          <div class="link-2">
            <div class="text-wrapper-10" >Next step</div>
            <img class="img" src="img/arrow-right-alt-fill0-wght300-grad0-opsz48-1-1.png" (click)="navigateToNextStep()"/>
          </div>
        </div>
        <div class="div-site-footer">
          <div class="div-footer-widgets">
            <img class="cropped-BIST-NEW" src="img/cropped-bist-new-logo-white-1.png" />
            <div class="frame-26">
              <img class="vector-5" src="img/vector-3.png" />
              <div class="text-wrapper-24">admissions@bistunis.com</div>
            </div>
            <div class="frame-26">
              <img class="vector-6" src="img/vector-2.png" />
              <div class="text-wrapper-24">+216 70 240 880</div>
            </div>
            <img class="link-margin" src="img/link-margin.png" />
          </div>
          <div class="div-copyright-bar-wrapper">
            <div class="div-copyright-bar">
              <p class="british">
                <span class="span">© British International School of Tunis 2023 - </span>
                <span class="text-wrapper-25">Legal notice</span>
              </p>
            </div>
          </div>
          <img class="logo-png" src="img/logo-png-4.png" />
        </div>
      </div>
    </div>
  </body>
</html>
