<div class="container">
  <label for="subject">Subject:</label>
  <select [(ngModel)]="selectedSubject" (change)="searchNotes()">
    <option *ngFor="let subjectItem of subjects$ | async" [ngValue]="subjectItem">{{  subjectItem.name }}</option>
  </select>

  
    <label for="semester">Semester:</label>
    <select [(ngModel)]="semester" (change)="searchNotes()" placeholder="Select Semester">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <div class="container">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Student Name</th>
              <th>Subject</th>
              <th>Grade</th>
              <th>Semester</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let grade of classificationNotes">
              <td>{{ grade.student_name }}</td>
              <td>{{ grade.subject }}</td>
              <td>{{ grade.grade }}</td>
              <td>{{ grade.semester }}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>