<!DOCTYPE html>
<html>
 
  <body>
    <div class="primary-early-years">
      <div class="frame">
        <div class="rs-module-wrap">
          <div class="div-breadcrumbs">
            <div class="div-container">
              <div class="div-row"><div class="div-col-md"></div></div>
            </div>
            <div class="log-in">
              <div class="div">
                <img class="img" src="img/user-interface-user.png" />
                <div class="text-wrapper">Log in</div>
              </div>
            </div>
            <!-- <div class="frame-2">
              <div class="text-wrapper-2">Our Future Begins Here!</div>
              <p class="early-years-and">EARLY YEARS AND FONDATION STAGE</p>
            </div> -->
            <div class="pseudo"></div>
          </div>
        </div>
        <div class="navigation-bar">
          <div class="BIST-logo-white"></div>
          <div class="list">
            <div class="item-link"><div class="text-wrapper-3">Admissions</div></div>
            <div class="item-link-2">
              <div class="text-wrapper-4">Primary</div>
              <img class="SVG" src="img/svg-1.png" />
            </div>
            <div class="item-link-2">
              <div class="text-wrapper-5">Secondary</div>
              <img class="SVG" src="img/svg-1.png" />
            </div>
            <div class="item-link-2">
              <div class="text-wrapper-5">About us</div>
              <img class="SVG" src="img/svg-1.png" />
            </div>
            <div class="item-link-2">
              <div class="text-wrapper-5">Education</div>
              <img class="SVG" src="img/svg.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="frame-3">
        <div class="frame-4">
          <div class="heading-welcome-to">Introducing our Early Years</div>
          <div class="frame-5">
            <p class="p">
              Every child deserves the best possible start in life and the support that enables them to fulfill their
              potential. Children develop quickly in the early years and a child’s experiences between birth and age
              five have a major impact on their future life chances.
            </p>
            <p class="text-wrapper-6">
              A secure, safe and happy childhood is important in its own right. Good parenting and high quality early
              learning together provide the foundation children need to make the most of their abilities and talents as
              they grow up.
            </p>
            <p class="text-wrapper-7">
              The Early Years Foundation Stage (EYFS) sets the standards that all early years providers must meet to
              ensure that children learn and develop well and are kept healthy and safe. It promotes teaching and
              learning to ensure children’s “school readiness” and gives children the broad range of knowledge and
              skills that provide the right foundation for good future progress through school and life.
            </p>
          </div>
        </div>
        <div class="frame-4">
          <p class="heading-welcome-to">An insight into Early Years</p>
          <div class="slide-primary">
            <div class="overlap-group">
              <div class="frame-6">
                <img
                  class="ensuring-a-smooth"
                  src="img/ensuring-a-smooth-transition-from-primary-to-secondary-entrance-4.png"
                />
                <img
                  class="ensuring-a-smooth-2"
                  src="img/ensuring-a-smooth-transition-from-primary-to-secondary-entrance-28.png"
                />
                <img
                  class="ensuring-a-smooth-3"
                  src="img/ensuring-a-smooth-transition-from-primary-to-secondary-entrance-13.png"
                />
                <img
                  class="ensuring-a-smooth-4"
                  src="img/ensuring-a-smooth-transition-from-primary-to-secondary-entrance-13.png"
                />
                <img
                  class="ensuring-a-smooth-5"
                  src="img/ensuring-a-smooth-transition-from-primary-to-secondary-entrance-13.png"
                />
              </div>
              <div class="frame-7">
                <div class="ellipse"></div>
                <div class="ellipse-2"></div>
                <div class="ellipse-2"></div>
                <div class="ellipse-2"></div>
                <div class="ellipse-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-8">
        <p class="text-wrapper-8">Years 1 to 6 curriculum overview</p>
        <div class="frame-9">
          <div class="frame-wrapper">
            <div class="frame-10">
              <img class="user-interface" src="img/user-interface-chevron-left.png" />
              <div class="div-gb-grid-column">
                <div class="frame-11">
                  <img class="vector" src="img/vector-12.png" />
                  <div class="ellipse-3"></div>
                </div>
                <div class="text-wrapper-9">Mathematics</div>
              </div>
              <div class="div-gb-grid-column">
                <div class="frame-11">
                  <img class="vector-2" src="img/vector-11.png" />
                  <div class="ellipse-3"></div>
                </div>
                <div class="text-wrapper-9">Expressive Arts and Design</div>
              </div>
              <div class="div-gb-grid-column">
                <div class="frame-11">
                  <img class="vector-3" src="img/vector-10.png" />
                  <div class="ellipse-3"></div>
                </div>
                <div class="text-wrapper-10">Physical Development</div>
              </div>
              <div class="div-gb-grid-column">
                <div class="frame-11">
                  <img class="vector-2" src="img/vector-9.png" />
                  <div class="ellipse-3"></div>
                </div>
                <p class="text-wrapper-10">
                  Personal, Social and<br />
                  Emotional Development
                </p>
              </div>
              <div class="div-gb-grid-column">
                <div class="frame-11">
                  <img class="vector-2" src="img/vector-8.png" />
                  <div class="ellipse-3"></div>
                </div>
                <div class="text-wrapper-11">Literacy</div>
              </div>
              <div class="div-gb-grid-column">
                <div class="frame-11">
                  <img class="vector-4" src="img/vector-7.png" />
                  <div class="ellipse-3"></div>
                </div>
                <div class="text-wrapper-10">Communication and Language</div>
              </div>
              <img class="user-interface" src="img/user-interface-chevron-right.png" />
              <div class="div-gb-grid-column">
                <div class="frame-11">
                  <img class="vector-5" src="img/vector-6.png" />
                  <div class="ellipse-3"></div>
                </div>
                <div class="text-wrapper-9">Understanding the World</div>
              </div>
            </div>
          </div>
          <div class="link"><p class="text-wrapper-12">Dowload the Early Years curriculum</p></div>
        </div>
      </div>
      <div class="div-gb-inside-wrapper">
        <div class="div-gb-inside">
          <p class="text-wrapper-8">Your child deserves the best</p>
          <div class="figure-empowering"></div>
          <div class="div-wrapper">
            <p class="text-wrapper-13">
              Your child will thrive academically, socially, and emotionally, and will be well-equipped to meet the
              challenges of the world with confidence and determination. We believe that every child deserves the best,
              and at our school, we work tirelessly to make that a reality.
            </p>
          </div>
        </div>
      </div>
      <div class="div-tab-content">
        <div class="section">
          <div class="div-elementor-column">
            <div class="text-wrapper-14">How do children learn?</div>
            <div class="frame-12">
              <p class="text-wrapper-15">
                We provide a secure, stimulating environment where young children can explore areas of learning at their
                own pace. Our team considers the individual needs, interests and stage of development of each child to
                plan a rich and varied curriculum that fosters their love of learning. Through a balance of play-based
                and structured activities, children are encouraged to explore, discover, and develop their skills and
                knowledge in a supportive and inclusive environment.
              </p>
              <p class="text-wrapper-16">
                Our team works closely with parents to ensure a seamless transition into school life and to support the
                holistic development of each child. Our aim is to help every child feel confident, happy and eager to
                learn, setting the foundation for their future success.
              </p>
            </div>
          </div>
          <img class="images" src="img/images-1.png" />
        </div>
      </div>
      <div class="div-gb-inside-2">
        <div class="heading-who-can">Our four main principles</div>
        <div class="div-gb-grid-wrapper">
          <div class="div-gb-grid-column-2">
            <div class="frame-11">
              <img class="vector-2" src="img/vector-5.png" />
              <div class="ellipse-4"></div>
            </div>
            <div class="text-wrapper-17">Every child is unique</div>
            <p class="text-wrapper-18">
              Every child is a unique child and a competent learner from birth who can be resilient, capable, confident
              and self-assured.
            </p>
          </div>
          <div class="div-gb-grid-column-2">
            <div class="frame-11">
              <img class="vector-6" src="img/vector-4.png" />
              <div class="ellipse-5"></div>
            </div>
            <div class="text-wrapper-17">Positive relationships</div>
            <p class="text-wrapper-18">
              Children can learn to be strong and independent through positive relationships.
            </p>
          </div>
          <div class="div-gb-grid-column-3">
            <div class="frame-11">
              <img class="vector-7" src="img/vector-3.png" />
              <div class="ellipse-5"></div>
            </div>
            <div class="text-wrapper-17">Enabling environments</div>
            <p class="text-wrapper-19">
              Children learn and develop well in enabling environments in which their experiences respond to their
              individual needs and there is a strong partnership between practitioners and parents or carers.
            </p>
          </div>
          <div class="div-gb-grid-column-2">
            <div class="frame-11">
              <img class="vector-8" src="img/vector-2.png" />
              <div class="ellipse-5"></div>
            </div>
            <div class="text-wrapper-17">Different ways and rates</div>
            <p class="text-wrapper-18">
              Children develop and learn in different ways and at different rates. Pupils’ individual needs are assessed
              and appropriate planning is conducted.
            </p>
          </div>
        </div>
      </div>
      <div class="frame-13">
        <div class="heading-welcome-to-2">Our Early Years Teacher</div>
        <div class="div-elementor-wrapper">
          <div class="div-elementor">
            <div class="jpg"></div>
            <div class="div-elementor-widget">
              <div class="p-hd-fce">
                <div class="strong-stephen">Anna Tineke Chaouch</div>
                <div class="strong-stephen-2">| EARLY YEARS TEACHER</div>
              </div>
              <div class="p-hd-fec">
                <p class="text-wrapper-20">
                  Tineke has a degree in Early Childhood Education and Early Childhood Intervention from Santa Monica
                  College, California. She worked eight years in the US in early childhood settings, including four
                  years in a Therapeutic Day Treatment Program for young children with mental difficulties.
                </p>
                <p class="text-wrapper-21">
                  In 2012, when BIST first opened its doors, she joined the team as a Special Educational Needs
                  Coordinator across Primary and Secondary School. In February 2021, she rejoined the Early Years Team
                  as the Early Years Teacher and the Primary School Safeguarding Lead.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-14">
        <p class="heading-welcome-to-2">Admissions for children ages 3 to 5</p>
        <div class="div-elementor-row">
          <div class="div-elementor-widget-2">
            <div class="text-wrapper-22">Compulsory age</div>
            <div class="to-apply-to-nursery-wrapper">
              <p class="to-apply-to-nursery">
                To apply to Nursery, children must meet the compulsory age of three years old by the 1st of September.
                Children can undertake taster sessions during the preceding summer term but would need to be three years
                old by the start of the academic year.<br /><br />A child’s education from birth to age five forms a
                crucial foundation for all that follows. At the British International School of Tunis, we aim to provide
                children in our Early Years Foundation Stages with educational experiences that will help them develop a
                positive approach to learning.
              </p>
            </div>
          </div>
          <div class="div-elementor-widget-3">
            <div class="text-wrapper-22">Taster sessions</div>
            <div class="from-our-early-years-wrapper">
              <p class="from-our-early-years">
                From our Early Years &amp; Foundation stage up until Year 1, applicants are warmly invited to attend a
                taster day at school.A Taster Session is a wonderful way for your child to experience life at the
                British International School of Tunis first hand.<br /><br />Taster sessions would take place within a
                classroom environment in company of the appropriate class teacher and can last over several days to
                complete.Care is taken to find out as much as possible about your child’s behavioural, social and
                cognitive abilities among others areas to ensure appropriate planning is conducted.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-15">
        <div class="parent">
          <div class="heading-who-can-wrapper"><div class="heading-who-can-2">ADMISSION FORM</div></div>
          <div class="frame-16">
            <div class="frame-17">
              <div class="frame-18">
                <img class="line" src="img/line-1.png" />
                <div class="frame-19">
                  <div class="frame-20"><div class="text-wrapper-23">1</div></div>
                  <div class="text-wrapper-24">Parent 1 information</div>
                </div>
                <div class="frame-19">
                  <div class="frame-21"><div class="text-wrapper-25">2</div></div>
                  <div class="text-wrapper-26">Parent 2 information</div>
                </div>
                <div class="frame-19">
                  <div class="frame-21"><div class="text-wrapper-25">3</div></div>
                  <div class="text-wrapper-26">Children information</div>
                </div>
                <div class="frame-19">
                  <div class="frame-21"><div class="text-wrapper-25">4</div></div>
                  <div class="text-wrapper-26">Scheduling a visit</div>
                </div>
              </div>
            </div>
            <div class="frame-22">
              <div class="frame-23">
                <div class="frame-24">
                  <div class="frame-25">
                    <div class="frame-26">
                      <div class="text-wrapper-27">Mother’s first name</div>
                      <div class="text-wrapper-28">*</div>
                    </div>
                    <input class="input" placeholder="First name" type="text" />
                  </div>
                  <div class="frame-25">
                    <div class="frame-26">
                      <div class="text-wrapper-27">Mother’s last name</div>
                      <div class="text-wrapper-29">*</div>
                    </div>
                    <input class="input" placeholder="Last name" type="text" />
                  </div>
                </div>
                <div class="frame-24">
                  <div class="frame-25">
                    <div class="frame-26">
                      <div class="text-wrapper-27">Mother’s Occupation</div>
                      <div class="text-wrapper-28">*</div>
                    </div>
                    <div class="input-2"><div class="text-wrapper-30">Occupation</div></div>
                  </div>
                  <div class="frame-25">
                    <div class="frame-26">
                      <div class="text-wrapper-27">Mother’s nationality</div>
                      <div class="text-wrapper-28">*</div>
                    </div>
                    <div class="input-2"><div class="text-wrapper-31">Nationality</div></div>
                  </div>
                </div>
                <div class="frame-24">
                  <div class="frame-25">
                    <div class="frame-26">
                      <div class="text-wrapper-27">Mother’s email</div>
                      <div class="text-wrapper-28">*</div>
                    </div>
                    <input class="input" placeholder="Email Address" type="email" />
                  </div>
                  <div class="frame-25">
                    <div class="frame-26">
                      <div class="text-wrapper-27">Mother’s Phone number</div>
                      <div class="text-wrapper-28">*</div>
                    </div>
                    <input class="input" placeholder="Phone number" type="tel" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="link-2">
            <div class="text-wrapper-12">Next step</div>
            <img class="img" src="img/arrow-right-alt-fill0-wght300-grad0-opsz48-1-1.png" />
          </div>
        </div>
        <div class="div-site-footer">
          <div class="div-footer-widgets">
            <img class="cropped-BIST-NEW" src="img/cropped-bist-new-logo-white-1.png" />
            <div class="frame-27">
              <img class="vector-9" src="img/vector-1.png" />
              <div class="text-wrapper-32">admissions@bistunis.com</div>
            </div>
            <div class="frame-27">
              <img class="vector-10" src="img/vector.png" />
              <div class="text-wrapper-32">+216 70 240 880</div>
            </div>
            <img class="link-margin" src="img/link-margin.png" />
          </div>
          <div class="div-copyright-bar-wrapper">
            <div class="div-copyright-bar">
              <p class="british">
                <span class="span">© British International School of Tunis 2023 - </span>
                <span class="text-wrapper-33">Legal notice</span>
              </p>
            </div>
          </div>
          <img class="logo-png" src="img/logo-png-4.png" />
        </div>
      </div>
    </div>
  </body>
</html>
