<!DOCTYPE html>
<html>
 
  <body>
    <div class="primary-key-stages">
      <div class="frame">
        <div class="rs-module-wrap">
          <div class="div-breadcrumbs">
            <div class="div-container">
              <div class="div-row"><div class="div-col-md"></div></div>
            </div>
            <div class="log-in">
              <div class="div">
                <img class="img" src="img/user-interface-user.png" />
                <div class="text-wrapper">Log in</div>
              </div>
            </div>
            <!-- <div class="frame-2">
              <p class="p">A very strong community based on learning</p>
              <p class="key-stages">KEY STAGES 1 &amp; 2</p>
            </div> -->
            <div class="pseudo"></div>
          </div>
        </div>
        <div class="navigation-bar">
          <div class="BIST-logo-white"></div>
          <div class="list">
            <div class="item-link"><div class="text-wrapper-2">Admissions</div></div>
            <div class="item-link-2">
              <div class="text-wrapper-3">Primary</div>
              <img class="SVG" src="img/svg-1.png" />
            </div>
            <div class="item-link-2">
              <div class="text-wrapper-4">Secondary</div>
              <img class="SVG" src="img/svg-1.png" />
            </div>
            <div class="item-link-2">
              <div class="text-wrapper-4">About us</div>
              <img class="SVG" src="img/svg-1.png" />
            </div>
            <div class="item-link-2">
              <div class="text-wrapper-4">Education</div>
              <img class="SVG" src="img/svg.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="frame-3">
        <div class="frame-4">
          <p class="heading-welcome-to">Key Stages 1 &amp; 3</p>
          <div class="frame-5">
            <p class="text-wrapper-5">
              We would like to wish you a warm welcome to the British International School of Tunis.
            </p>
            <p class="text-wrapper-6">
              Every child deserves the best possible start in life and the support that enables them to fulfill their
              potential. At BIST Primary School, we have created a learning environment that is lively, fun and
              challenging, with a classroom atmosphere that generates a real enthusiasm for learning.
            </p>
            <p class="text-wrapper-6">
              Our aim is to build a strong foundation, not just in the academic sense, but also to further the creative
              and moral development of children.
            </p>
          </div>
        </div>
        <div class="frame-4">
          <p class="heading-welcome-to">An insight into Key Stage 1 &amp; 2</p>
          <div class="slide-primary-key">
            <div class="overlap-group">
              <div class="frame-6">
                <img
                  class="ensuring-a-smooth"
                  src="img/ensuring-a-smooth-transition-from-primary-to-secondary-entrance-4.png"
                />
                <img
                  class="ensuring-a-smooth-2"
                  src="img/ensuring-a-smooth-transition-from-primary-to-secondary-entrance-3.png"
                />
                <img
                  class="ensuring-a-smooth-3"
                  src="img/ensuring-a-smooth-transition-from-primary-to-secondary-entrance.png"
                />
                <img
                  class="ensuring-a-smooth-4"
                  src="img/ensuring-a-smooth-transition-from-primary-to-secondary-entrance.png"
                />
                <img
                  class="ensuring-a-smooth-5"
                  src="img/ensuring-a-smooth-transition-from-primary-to-secondary-entrance.png"
                />
              </div>
              <div class="frame-7">
                <div class="ellipse"></div>
                <div class="ellipse-2"></div>
                <div class="ellipse-2"></div>
                <div class="ellipse-2"></div>
                <div class="ellipse-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-tab-content">
        <div class="section">
          <img class="images" src="img/images-1-1.png" />
          <div class="div-elementor-column">
            <p class="text-wrapper-7">The curriculum of England and Wales</p>
            <div class="frame-8">
              <p class="text-wrapper-8">
                In terms of academics, we follow the English National Curriculum, and are the only school in Tunis to be
                accredited by the Council of British International Schools (COBIS).
              </p>
              <p class="text-wrapper-9">
                This means your children will receive some of the best education Britain can offer. Each class has a
                dedicated teacher, educated up to the British standard, who teaches the core curriculum of English,
                Maths and Sciences, along with supplementary classes in Humanities (History and Geography), Sports
                (Physical Education) and PSHCEE (Personal, Social, Health, Citizenship and Economic Education).
              </p>
            </div>
            <div class="link"><p class="text-wrapper-10">Primary Assessment and Reporting Overview</p></div>
          </div>
        </div>
      </div>
      <div class="div-gb-inside-wrapper">
        <div class="div-gb-inside">
          <div class="heading-empowering">Growing through learning</div>
          <div class="figure-empowering"></div>
          <div class="div-wrapper">
            <p class="text-wrapper-11">
              Growth is part of life, emotionally, physically, and even academically. Regularly measuring our pupils’
              growth and success in the classroom helps our teachers set learning objectives and plan accordingly to fit
              the needs of every pupil.
            </p>
          </div>
        </div>
      </div>
      <div class="div-elementor-row-wrapper">
        <div class="div-elementor-row">
          <div class="div-elementor-widget">
            <!-- <div class="text-wrapper-12">Bilingual support</div> -->
            <div class="frame-9">
              <!-- <p class="text-wrapper-13">
                Our work involves ensuring access to the curriculum, raising self-esteem and valuing bilingual children
                and young people’s linguistic and cultural backgrounds.
              </p> -->
              <!-- <p class="text-wrapper-14">
                We have Tunisian teaching assistants, all with English degrees, ready to offer additional support to the
                pupils.
              </p> -->
              <!-- <p class="text-wrapper-14">
                Within the classroom, children are regularly and consistently assessed, to ensure we can offer the best
                personalised education that suits the pace of the pupils, and to set realistic and attainable goals for
                everyone, however high or low they may be.
              </p> -->
            </div>
          </div>
          <img class="images-2" src="img/images-1.png" />
        </div>
      </div>
      <div class="frame-10">
        <p class="text-wrapper-15">Admissions for children ages 6+</p>
        <div class="the-assessment-wrapper">
          <!-- <p class="the-assessment">
            The assessment procedure for older pupils joining the school will involve a more formal assessment in
            addition to the reception of the applicant’s full previous school reports (last two years) prior to the
            scheduled entry assessment date.<br /><br />The test that we administer is the Cognitive Abilities Test
            (CAT4); a diagnostic assessment that helps our teaching staff to understand the pupil’s current level.
            Pupils sit a tailored assessment according to the age and the year group that they will be entering. Prior
            preparation is not required, and the assessment is in multiple choice format, requiring the use of a
            computer with internet access, and headphones or speakers in order to follow the audio instructions.<br /><br />To
            further evaluate the level of each applicant, some additional assessments may be required in the intention
            of planning accordingly. The results help teachers decide what pace of learning is right for each pupil,
            whether a specific syllabus would be required, and whether additional support is needed.<br /><br />At the
            British International school of Tunis, we recognise the importance of finding the right school for your
            child and offer as well the possibility to conduct our assessments from the confort of your home to able
            families abroad to conduct all necessary steps to secure their child’s enrolment at BIST.
          </p> -->
        </div>
      </div>
      <div class="div-gb-inside-2">
        <p class="text-wrapper-15">Our Key Stage 1 &amp; 2 Teachers</p>
        <div class="frame-wrapper">
          <div class="frame-11">
            <div class="div-gb-grid-column">
              <div class="frame-12">
                <div class="figure-triki-hakim"></div>
                <div class="frame-13">
                  <div class="strong-hakim-triki">Tineke Chaouch</div>
                  <div class="strong-emphasis">EYFS Teacher</div>
                </div>
              </div>
              <div class="frame-14">
                <div class="rectangle"></div>
                <p class="text-wrapper-16">
                  Tineke has a degree in Early Childhood Education and Early Childhood Intervention from Santa Monica
                  College, California. She worked eight years in the US in early childhood settings, including four
                  years in a Therapeutic Day Treatment Program for young children with mental difficulties. In 2012,
                  when BIST first opened its doors, she joined the team as a Special Educational Needs Coordinator
                  across Primary and Secondary School. In February 2021, she rejoined the Early Years Team as the Early
                  Years Teacher and the Primary School Safeguarding Lead.
                </p>
                <div class="frame-15">
                  <div class="rectangle-2"></div>
                  <div class="text-wrapper-17">Read more</div>
                </div>
              </div>
            </div>
            <div class="div-gb-grid-column">
              <div class="frame-12">
                <div class="figure-nahali-ines"></div>
                <div class="frame-13">
                  <div class="strong-hakim-triki">Sabrine Chamakhi</div>
                  <div class="strong-emphasis-2">EAL Teacher</div>
                </div>
              </div>
              <div class="frame-14">
                <div class="rectangle"></div>
                <p class="text-wrapper-16">
                  am Miss Sabrine or Mr Bean as some of the Year 2’s call me! I specialise in English Literature and
                  civilisation and have a Cambridge certification of teaching English as a foreign Language- CELTA. My
                  role at BIST is abundant and rewarding. I feel lucky and blessed that I work across the whole school
                  and help children flourish and grow resilience through a challenging process. Seeing accomplishment
                  after hard work, knowing that we are part of this milestone is what makes us come back the next
                  morning with a fresh spirit. A simple “We love you Miss” or doodle drawn by a child during their play
                  time can instantly brighten my mood during a busy or stressful day. They learn from us, we learn from
                  them !
                </p>
                <div class="frame-15">
                  <div class="rectangle-2"></div>
                  <div class="text-wrapper-17">Read more</div>
                </div>
              </div>
            </div>
            <div class="div-gb-grid-column">
              <div class="frame-16">
                <div class="figure-yacoubi-nadia"></div>
                <div class="frame-17">
                  <div class="strong-hakim-triki">Marwa Mejri</div>
                  <p class="strong-emphasis-3">Head of the MFL department <br />Non-native Arabic Teacher</p>
                </div>
              </div>
              <div class="frame-14">
                <div class="rectangle"></div>
                <p class="text-wrapper-16">
                  I have a Master’s degree in Applied Linguistics in addition to my CELTA. I am currently pursuing my
                  studies at Sunderland University and have been working at BIST for almost 6 years now and if I can
                  name one thing that grew up with me during this time would be my passion for what I do. I am here to
                  give it my all from the bottom of my heart to help my pupils break the language barrier which will
                  enable them to open all sorts of doors in the future in a very non-traditional way to show them that
                  it is alright to break the uniformity and you will shine.
                </p>
                <div class="frame-15">
                  <div class="rectangle-2"></div>
                  <div class="text-wrapper-17">Read more</div>
                </div>
              </div>
            </div>
            <div class="div-gb-grid-column">
              <div class="frame-12">
                <div class="figure-russell"></div>
                <div class="frame-13">
                  <div class="strong-hakim-triki">Raphael Sarker</div>
                  <div class="strong-emphasis-4">Year 5 Teacher</div>
                </div>
              </div>
              <div class="frame-14">
                <div class="rectangle"></div>
                <p class="text-wrapper-16">
                  Raphaël Sarker is a primary computing specialist who completed his bachelor of education degree at
                  Froebel College in London, specialising in computer- and game-based learning systems, before working
                  as a class teacher and computing leader in schools around London and the southwest. Having lived in
                  Europe and Asia, he enjoys travelling and working in the international sector. At Club Med, he taught
                  skiing and scuba diving, and sailed Laser and Zodiac dinghies with 7-11s, going on to travel around
                  Asia, working with private agencies and NGOs on multimedia projects supporting primary and adult
                  education, as well as health and environmental education projects.
                </p>
                <div class="frame-15">
                  <div class="rectangle-2"></div>
                  <div class="text-wrapper-17">Read more</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-18">
        <div class="parent">
          <div class="heading-who-can-wrapper"><div class="heading-who-can">ADMISSION FORM</div></div>
          <div class="frame-19">
            <div class="frame-20">
              <div class="frame-21">
                <img class="line" src="img/line-1.png" />
                <div class="frame-22">
                  <div class="frame-23"><div class="text-wrapper-18">1</div></div>
                  <div class="text-wrapper-19">Parent 1 information</div>
                </div>
                <div class="frame-22">
                  <div class="frame-24"><div class="text-wrapper-20">2</div></div>
                  <div class="text-wrapper-21">Parent 2 information</div>
                </div>
                <div class="frame-22">
                  <div class="frame-24"><div class="text-wrapper-20">3</div></div>
                  <div class="text-wrapper-21">Children information</div>
                </div>
                <div class="frame-22">
                  <div class="frame-24"><div class="text-wrapper-20">4</div></div>
                  <div class="text-wrapper-21">Scheduling a visit</div>
                </div>
              </div>
            </div>
            <div class="frame-25">
              <div class="frame-26">
                <div class="frame-27">
                  <div class="frame-28">
                    <div class="frame-29">
                      <div class="text-wrapper-22">Mother’s first name</div>
                      <div class="text-wrapper-23">*</div>
                    </div>
                    <input class="input" placeholder="First name" type="text" />
                  </div>
                  <div class="frame-28">
                    <div class="frame-29">
                      <div class="text-wrapper-22">Mother’s last name</div>
                      <div class="text-wrapper-24">*</div>
                    </div>
                    <input class="input" placeholder="Last name" type="text" />
                  </div>
                </div>
                <div class="frame-27">
                  <div class="frame-28">
                    <div class="frame-29">
                      <div class="text-wrapper-22">Mother’s Occupation</div>
                      <div class="text-wrapper-23">*</div>
                    </div>
                    <div class="input-2"><div class="text-wrapper-25">Occupation</div></div>
                  </div>
                  <div class="frame-28">
                    <div class="frame-29">
                      <div class="text-wrapper-22">Mother’s nationality</div>
                      <div class="text-wrapper-23">*</div>
                    </div>
                    <div class="input-2"><div class="text-wrapper-26">Nationality</div></div>
                  </div>
                </div>
                <div class="frame-27">
                  <div class="frame-28">
                    <div class="frame-29">
                      <div class="text-wrapper-22">Mother’s email</div>
                      <div class="text-wrapper-23">*</div>
                    </div>
                    <input class="input" placeholder="Email Address" type="email" />
                  </div>
                  <div class="frame-28">
                    <div class="frame-29">
                      <div class="text-wrapper-22">Mother’s Phone number</div>
                      <div class="text-wrapper-23">*</div>
                    </div>
                    <input class="input" placeholder="Phone number" type="tel" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="link-2">
            <div class="text-wrapper-10">Next step</div>
            <img class="img" src="img/arrow-right-alt-fill0-wght300-grad0-opsz48-1-1.png" />
          </div>
        </div>
        <div class="div-site-footer">
          <div class="div-footer-widgets">
            <img class="cropped-BIST-NEW" src="img/cropped-bist-new-logo-white-1.png" />
            <div class="frame-30">
              <img class="vector" src="img/vector-1.png" />
              <div class="text-wrapper-27">admissions@bistunis.com</div>
            </div>
            <div class="frame-30">
              <img class="vector-2" src="img/vector.png" />
              <div class="text-wrapper-27">+216 70 240 880</div>
            </div>
            <img class="link-margin" src="img/link-margin.png" />
          </div>
          <div class="div-copyright-bar-wrapper">
            <div class="div-copyright-bar">
              <p class="british">
                <span class="span">© British International School of Tunis 2023 - </span>
                <span class="text-wrapper-28">Legal notice</span>
              </p>
            </div>
          </div>
          <img class="logo-png" src="img/logo-png-4.png" />
        </div>
      </div>
    </div>
  </body>
</html>
