.upload-form {
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .upload-form .form-group {
    margin-bottom: 10px;
  }
  
  .upload-form label {
    font-weight: bold;
  }
  
  .upload-form input[type="file"] {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    /* Ajoutez d'autres styles selon vos besoins */
  }
  
  .upload-form input[type="text"] {
    border: 1px solid #ccc;
    padding: 10px;
    /* Ajoutez d'autres styles selon vos besoins */
  }
  
  .upload-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    /* Ajoutez d'autres styles selon vos besoins */
  }
  